body{
    color: white;
    background-color: black;
}
body>*{
    background-color: black;
}
h1 {
    font-family: 'Highlights';
    text-align: center;
}

h2, h3, h4 {
    font-family: 'Titles';
}

p{
    font-weight: 700;
}
.root{
    font-family: 'Titles';
    color: white;
    font-weight: 700;
    display: block;
    width: 100%;
    text-align: right;
    padding: .2rem;
}
/* mobile sizing */
@media only screen and (max-width: 480px){
    h1{
        font-size: 1.5rem;
    }

    p, a {
        font-size: .9rem;
    }
}