body{
    color: white;
}
body>*{
    background-color: black;
    max-height: 585px;
}
h1 {
    font-family: 'Highlights';
    text-align: center;
}

h2, h3, h4 {
    font-family: 'Titles';
}

p{
    font-weight: 700;
}
.root{
    font-family: 'Titles';
    color: white;
    font-weight: 700;
    display: block;
    width: 100%;
    text-align: right;
    padding: .2rem;
}