
.connect {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: .2rem;
    height: 3rem;
}

.map {
    margin: auto;
    max-width: 90%;
}

.main {
    color: white;
    padding: .2rem;
    background-color: blueviolet;
    border-radius: 5px;
}

.main>h3{
    text-align: center;
}

.mini {
    display: flex;
    align-items: center;
    color: white;
    padding: .2rem;
    background-color: blueviolet;
    border-radius: 5px;
    width: 35%;
    height: inherit;
    justify-content: center;
    text-align: center;
}

.mini>h4{
    font-family: 'Highlights'!important;
    text-wrap: pretty;
}
      

.right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid white;
    border-radius: 5px;
    width: 60%;
    padding: .2rem;
    height: inherit;
}
.content>h3{
    text-align: center;
    margin-top: .2rem;
}
.cont{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid white;
    border-radius: 5px;
    width: 95%;
    padding: .2rem;
    height: fit-content;
    margin: .2rem;
}
h2 {
    margin-left: .2rem;
}

.line{
    border-top: 2px solid blueviolet;
    height: 50%;
    width: 1em;
}
