
.connect {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: .2rem;
    height: 3.5rem;
}

.map {
    margin: auto;
    max-width: 90%;
    background-color: white;
}

.main {
    color: white;
    padding: .2rem;
    background-color: blueviolet;
    background-image: linear-gradient(black, blueviolet);
}

.mini {
    display: flex;
    align-items: center;
    color: white;
    padding: .2rem;
    background-color: blueviolet;
    background-image: linear-gradient(black, blueviolet);
    width: 35%;
    height: inherit;
}

.mini>a>h3{
    text-wrap: pretty;
}

/* .rightCol {
    color: white;
    background-image: linear-gradient(
        to right,
        blueviolet 0%,
        blueviolet 60%,
        white 60%,
        white 100%
        );
        } */
        

.right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid black;
    width: 60%;
    padding: .2rem;
    height: inherit;
}
.cont{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid black;
    width: 95%;
    padding: .2rem;
    height: fit-content;
    margin: .2rem;
}
h2 {
    margin-left: .2rem;
}

.line{
   border-top: 1px solid black;
   height: 50%;
   width: 1em;
}