.index{
    text-align: center;
    width: 100%;
}
.index>*{
    display: block;
    text-decoration: none;
    margin: .2rem;
}

.link {
    font-family: 'Highlights';
    color: white;
    font-weight: 700;
    background-color: blueviolet;
    border-radius: 5px;
    padding: .2rem;
    margin: .2rem;
    width: 135px;
    height: 40px;
    text-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.index>h1{
    font-family: 'Titles';
}